.list {
  margin-top: 10rem !important;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  border: none !important;
  outline: none !important;
  max-width: 80vw !important;
}
li.servicesBtn {
  text-align: center;
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;

  color: white;
  padding: 4rem;
  margin: 2rem;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 17rem;
  background-color: #55c9d8;
  overflow: hidden;
  cursor: pointer;
  max-width: 18vw !important;
}
/* 
li.servicesBtn:hover {
  cursor: pointer;
  color: #f2f9ff;
  background-color: #f18268;
} */
