.contact {
  max-width: 70vh;
  margin: auto;
}

.input {
  border: #55c9d8 !important;
  padding: 0px 4rem !important;
}

.input_send.button.is-link {
  display: block;
  position: relative;
  margin: 5vh auto 0;
  width: 30%;
  border-radius: 1vh;
  background-color: #55c9d8;
  color: white;
}

.input_send.button.is-link:hover {
  background-color: #f18268 !important;
  color: white;
}

.textarea {
  border: #55c9d8 !important;
}

.auth_btn {
  color: white !important;
  text-align: center !important;
  width: 3vw;
}
.msg {
  text-align: center;
  color: #55c9d8;
}

.form_Container {
  width: 50vw !important;
  margin: 8.5rem auto 3rem;
  border: 2.3px solid rgb(85, 201, 215);
  border-radius: 25px;
  height: 100%;
  padding: 7vh;
}
@media only screen and (max-width: 900px) {
  .form_Container {
    width: 80vw !important;
  }
}
