/* .homeall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image: url("../../assets/images/bagage.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
} */

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1.5rem;
  justify-content: space-evenly;
}

.intro {
  text-align: justify;
  min-width: 10vw;
  max-width: 50vw;
  margin: 24vh 1vh 5vh 0vw;
  font-size: 1.3vw;
}

.steps {
  margin-top: 2vw;
}
.step {
  margin: 0.2rem;
  color: #55c9d8;
}

.image {
  width: 100%;
  max-width: 450px;
  height: auto;
  /* width: 60vw;
  height: 55vh;
  max-width: 35vw; */
  max-height: 55vh;
  margin: 18vh 0 0 0;
}
.form {
  max-width: 100vh;
  margin: auto;
}

.started {
  position: absolute;

  border: 1 px solid #55c9d8;
  color: white;
  background-color: #55c9d8;
}

.input_send.button is-link.started {
  height: 2rem;
  width: 1rem;
  margin: 8vh auto 3vh !important;
}
.started {
  z-index: 1;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
}

.started:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@media only screen and (max-width: 900px) {
  .fullHeight {
    height: 118vh !important;
  }
  .image {
    order: 1;
  }
  .intro {
    order: 2;
    margin: 5vh 0 5vh 3vw;
    font-size: 0.7rem;
    max-width: 80vw;
  }
  .input_send {
    order: 3;
    width: 35vw !important;
    margin: 1vh !important;
  }
}
.quote {
  margin-top: 2rem;
  text-align: center;
  margin-left: 30%;
  color: #55c9d8;
}

.quote:hover {
  color: #f18268;
}

.quote.clicked {
  text-align: center;
  margin-left: 7rem;
  color: #f18268;
}
