.home {
  display: flex;
  flex-direction: row;
}
.intro {
  text-align: left;
  font-size: 19px;
  max-width: 150vh;
  margin: 200px 0px 30px 40px;
}

.image {
  width: 90vh;
}
.form {
  max-width: 100vh;
  margin: auto;
}
button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(229, 100%, 77%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

button::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #f89f84;
  transform-origin: center;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #f2f9ff;
}

button:hover::before {
  transform: translate(-50%, -50%) scale(15);
}
