.servicesBtn {
  width: 10rem;
  height: 10rem;
}

.container-services {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
.modal {
  align-items: center !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  overflow: auto !important;
  position: relative !important;
  z-index: 0 !important;
}
.element.style {
  position: relative !important;
  background: rgb(255, 255, 255) !important;
  width: 50% !important;
  margin: auto !important;
  border: 1px solid rgb(187, 187, 187);
  padding: 15px;
  width: 90vh !important;
  height: 90vh !important;
}
