.service-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}

.choose {
  margin: 0 auto;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
}
.go {
  margin: 0 auto;
  padding: 0.6rem;
  font-size: 1rem;
  text-align: center;
}
