footer {
  text-align: bottom;
  bottom: 0;
  width: 100%;
  height: 4vh;
  box-shadow: 0 4px 4px 3px;
  margin-top: 5rem;
}

.has-text-centered {
  font-family: "Nunito", sans-serif;
  font-size: 0.7rem;
  color: #55c9d8;
}
.has-text-centered:hover {
  color: #f18268;
}
footer > p {
  font-size: small;
}

@media only screen and (max-width: 900px) {
  .has-text-centered {
    font-family: "Nunito", sans-serif;
    font-size: 0.5rem;
  }
}
