@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif !important;
}

#house_create_form {
  position: relative;
  top: 100px;
  padding-top: 40px;
}

.amenities-checkboxes {
  display: flex;
  align-items: center;
}

.city-list-btn {
  outline: none;
}

button {
  cursor: pointer;
  display: block;
  position: relative;
  margin: 5vh auto 0;
  width: 30%;
  border-radius: 1vh;
  background-color: #55c9d8;
  color: white;
}
button:hover {
  background-color: #f18268;
  color: white;
}

.title {
  text-align: center;
  color: #f18268 !important;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.125;
}
.fullHeight {
  height: 100vh;
}
/* .my-modal-form {
  position: absolute;
  top: -90px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
} */
